<ion-header>
  <ion-navbar color="white">
    <div *ngIf="my_profile == false"> 
      <ion-buttons start>
        <button ion-button icon-only (click)="close()"><ion-icon name="back"></ion-icon></button>
      </ion-buttons>
    </div>
    <ion-title>
    <div *ngIf="my_profile == true"> My Profile</div>
    <div *ngIf="my_profile == false"> {{user.name}}</div>
    </ion-title>
    <div *ngIf="my_profile == true"> 
      <ion-buttons end>
        <button ion-button icon-only (click)="openSettings()"><ion-icon name="settings"></ion-icon></button>
      </ion-buttons>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
<img src="{{user.picture}}">
<ion-grid style ="background-color:#f5f5f5 ">
  <ion-row style = "text-align:center">
    <ion-col col-4> <strong> {{user.followers}} </strong> <br> Followers </ion-col>
    <ion-col col-4> <strong> {{user.following}} </strong> <br> Following</ion-col>
    <ion-col col-4> <strong> {{user.activity_count}} </strong> <br> Activities</ion-col>
  </ion-row>
</ion-grid>
<div style="margin-left: 12px;">
<h6><strong>{{user.name}}</strong></h6>
 {{user.interests}}
<br/>
 Age {{user.age}}
<br/>
</div>
<hr>
<div style="margin-left: 12px;">
<h6><strong>About</strong></h6>
{{user.about}}
<hr>
<h6><strong>Occupation</strong></h6>
{{user.occupation}}
<!-- <hr>
<h6><strong>Activities</strong></h6>
<hr>
<div *ngFor="let activity of user.activities"> 
<div (click)="viewActivity(activity)">
    <h6>{{activity.name}}</h6>
    <p>{{activity.description}}</p>
</div>
</div> -->
<hr>
</div>
</ion-content>