<ion-header>
  <ion-navbar color="white">
    <div *ngIf="my_profile == false"> 
      <ion-buttons start>
        <button ion-button icon-only (click)="close()"><ion-icon name="back"></ion-icon></button>
      </ion-buttons>
    </div>
    <ion-title>
    <div *ngIf="my_profile == true"> My Profile</div>
    <div *ngIf="my_profile == false"> {{user.name}}</div>
    </ion-title>
    <div *ngIf="my_profile == true"> 
      <ion-buttons end>
        <button ion-button icon-only (click)="openSettings()"><ion-icon name="settings"></ion-icon></button>
      </ion-buttons>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
<br/>
<br/>
<img src="{{user.picture}}"/>
<p>{{user.name}}</p>
<br/>
<br/>
<h4>About</h4>
<hr>
<p>{{user.about}}</p>
<br/>
<hr>
<br/>
<h4>Activities</h4>
<hr>
<div *ngFor="let activity of user.activities"> 
<div (click)="viewActivity(activity)">
    <h6>{{activity.name}}</h6>
    <p>{{activity.description}}</p>
</div>
<hr>
</div>
</ion-content>