<ion-header>
  <ion-navbar color="white">
    <ion-title>
    <div>{{activity.name}}</div>
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="close()"><ion-icon name="back"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="content">
    <ion-grid>
      <div *ngFor="let msg of messages">
      <div *ngIf="msg.user.me === false"> 
        <ion-row>
            <ion-col col-3>
              <img src="{{msg.user.picture}}" class="round-image" style="margin: auto" /> 
            </ion-col>
            <ion-col col-8>
              <div class="messageBody messageBody{{msg.user.me}}">
                {{msg.text}}
              </div>
            </ion-col>
            <ion-col col-1>
            </ion-col>
        </ion-row>

      </div>        
      <div *ngIf="msg.user.me === true"> 
        <ion-row>
            <ion-col col-1>
            </ion-col>
            <ion-col col-8>
              <div class="messageBody messageBody{{msg.user.me}}">
                {{msg.text}}
              </div>
            </ion-col>
            <ion-col col-3 style="margin:auto">
              <img src="{{msg.user.picture}}" class="round-image" style="margin: auto"/> 
            </ion-col>
        </ion-row>

        </div>        

      </div>        
    </ion-grid>        
  </div>
</ion-content>
