<ion-header>
  <ion-navbar color="white">
    <ion-title>
    <p> Notifications</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="panel">
  <div class="panel">

  <ion-card *ngFor="let notif of notifications" (click)="openActivity(notif.activity)">
      <ion-card-content>
      <ion-row>
        <ion-col col-3>
          <img src="{{notif.users[0].picture}}" class="round-image" />
        </ion-col>
        <ion-col col-8>
          <div class="notif-content">
            <p *ngIf="notif.type === 'request'">
              <b>{{notif.users[0].name}}</b> and <b>{{notif.users.length -1}} other user</b> are interested in your event <b>{{notif.activity.name}}</b>.
            </p>
            <p *ngIf="notif.type === 'accept'" >
              <b>{{notif.users[0].name}}</b> accepted your request to join their activity <b>{{notif.activity.name}}</b>.
            </p>
          </div>
        </ion-col>
        <ion-col col-1 style="margin:auto;">
          <div *ngIf="notif.read === 'false'">
            <div class="unread primary"></div>
          </div>
        </ion-col>
      </ion-row>
      </ion-card-content>
  </ion-card>


  </div>
</ion-content>